In [1]:
import pandas as pd 
import numpy as np 
import os 
import matplotlib.pyplot as plt 
import statistics 
%matplotlib inline

In [8]:
%pip install statistics

Collecting statistics
  Downloading statistics-1.0.3.5.tar.gz (8.3 kB)
Requirement already satisfied: docutils>=0.3 in /home/sajan/anaconda3/lib/python3.8/site-packages (from statistics) (0.17.1)
Building wheels for collected packages: statistics
  Building wheel for statistics (setup.py) ... done
  Created wheel for statistics: filename=statistics-1.0.3.5-py3-none-any.whl size=7454 sha256=639420a98dccf186cd375853faaf3c1f795c4db4a78b3d725c38318deda447f3
  Stored in directory: /home/sajan/.cache/pip/wheels/36/4b/c7/6af97584669b756c0d60c5ff05d5fb1f533a4e4d96e5ee92b9
Successfully built statistics
Installing collected packages: statistics
Successfully installed statistics-1.0.3.5
Note: you may need to restart the kernel to use updated packages.

In [11]:
scores = [5.75541, 1.81640, 1.81640, 1.81062, 1.70786, 1.70500, 1.70500, 1.71397, 1.71286, 1.73782, 1.68915]
len(scores)

11

In [12]:
files = sorted([(val, int(val.split('_')[-1].replace('.csv',''))) for val in os.listdir() if val.startswith('Submission_MachineHack')], key=lambda x: x[1])
files, len(files)

([('Submission_MachineHack_DES_Sajan_Ravindran_1.csv', 1),
  ('Submission_MachineHack_DES_Sajan_Ravindran_2.csv', 2),
  ('Submission_MachineHack_DES_Sajan_Ravindran_3.csv', 3),
  ('Submission_MachineHack_DES_Sajan_Ravindran_4.csv', 4),
  ('Submission_MachineHack_DES_Sajan_Ravindran_5.csv', 5),
  ('Submission_MachineHack_DES_Sajan_Ravindran_6.csv', 6),
  ('Submission_MachineHack_DES_Sajan_Ravindran_7.csv', 7),
  ('Submission_MachineHack_DES_Sajan_Ravindran_8.csv', 8),
  ('Submission_MachineHack_DES_Sajan_Ravindran_9.csv', 9),
  ('Submission_MachineHack_DES_Sajan_Ravindran_10.csv', 10),
  ('Submission_MachineHack_DES_Sajan_Ravindran_11.csv', 11)],
 11)

In [29]:
cols = ['file_name', 'model_score', 'wind_chill_mean', 'wind_chill_std', 'prcp_snow_ratio_mean', 'prcp_snow_ratio_std', 'airline_airport_ratio_mean', 'airline_airport_ratio_std', 'seat_dist_mean', 'seat_dist_std', 'seat_dist_norm_mean', 'seat_dist_norm_std']
data_cols = ['WIND_CHILL', 'PRCP_SNOW_RATIO', 'PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO', 'SEAT_DISTRIBUTION', 'SEAT_DISTRIBUTION_NORMALISED']
df = pd.DataFrame(columns=cols)
data = []
for idx, data_item in enumerate(list(zip([val[0] for val in files], scores))):
    temp = [data_item[0], data_item[1]]
    data_df = pd.read_csv(data_item[0], usecols=data_cols)
    for col in list(data_df.columns):
        col_mean, col_std = data_df[col].mean(), data_df[col].std()
        temp.append(col_mean)
        temp.append(col_std)
    df.loc[idx] = temp 
    temp = []

In [32]:
df

,file_name,model_score,wind_chill_mean,wind_chill_std,prcp_snow_ratio_mean,prcp_snow_ratio_std,airline_airport_ratio_mean,airline_airport_ratio_std,seat_dist_mean,seat_dist_std,seat_dist_norm_mean,seat_dist_norm_std
0,Submission_MachineHack_DES_Sajan_Ravindran_1.csv,5.75541,10.425950,11.777492,0.035138,0.509214,0.008592,0.028970,0.000668,0.001589,0.000005,0.000012
1,Submission_MachineHack_DES_Sajan_Ravindran_2.csv,1.81640,16.291002,9.892857,0.848700,8.235359,0.011485,0.031446,0.000666,0.001013,0.000005,0.000008
2,Submission_MachineHack_DES_Sajan_Ravindran_3.csv,1.81640,16.291002,9.892857,0.848700,8.235359,0.011485,0.031446,9.805414,12.290167,0.000005,0.000006
3,Submission_MachineHack_DES_Sajan_Ravindran_4.csv,1.81062,42.507015,16.868136,0.848700,8.235359,0.011485,0.031446,9.805414,12.290167,0.000005,0.000006
4,Submission_MachineHack_DES_Sajan_Ravindran_5.csv,1.70786,42.507015,16.868136,0.848700,8.235359,0.011485,0.031446,9.805414,12.290167,0.000005,0.000006
5,Submission_MachineHack_DES_Sajan_Ravindran_6.csv,1.70500,42.507015,16.868136,0.848700,8.235359,0.011736,0.031733,9.991208,12.248063,0.000005,0.000006
6,Submission_MachineHack_DES_Sajan_Ravindran_7.csv,1.70500,42.507015,16.868136,0.089470,0.523385,0.011736,0.031733,9.991208,12.248063,0.000005,0.000006
7,Submission_MachineHack_DES_Sajan_Ravindran_8.csv,1.71397,42.508666,16.863414,0.086844,0.486125,0.011736,0.031733,9.991208,12.248063,0.000005,0.000006
8,Submission_MachineHack_DES_Sajan_Ravindran_9.csv,1.71286,42.508666,16.863414,0.086844,0.486125,0.011736,0.031733,10.163982,12.406165,0.000005,0.000006
9,Submission_MachineHack_DES_Sajan_Ravindran_10.csv,1.73782,42.505982,16.967815,0.102254,0.857324,0.012543,0.033148,10.190033,12.444062,0.000005,0.000006
10,Submission_MachineHack_DES_Sajan_Ravindran_11.csv,1.68915,42.628751,16.966658,0.004580,0.051962,0.011736,0.031733,10.163982,12.406165,0.000005,0.000006

In [33]:
df.corr()

,model_score,wind_chill_mean,wind_chill_std,prcp_snow_ratio_mean,prcp_snow_ratio_std,airline_airport_ratio_mean,airline_airport_ratio_std,seat_dist_mean,seat_dist_std,seat_dist_norm_mean,seat_dist_norm_std
model_score,1.000000,-0.634866,-0.399841,-0.290321,-0.262327,-0.956286,-0.871873,-0.685850,-0.685527,0.521063,0.973216
wind_chill_mean,-0.634866,1.000000,0.961925,-0.183857,-0.204643,0.674575,0.657935,0.809785,0.802303,-0.471418,-0.733675
wind_chill_std,-0.399841,0.961925,1.000000,-0.327816,-0.342396,0.464837,0.476529,0.718551,0.709559,-0.382134,-0.526612
prcp_snow_ratio_mean,-0.290321,-0.183857,-0.327816,1.000000,0.999205,0.131809,0.032392,-0.049444,-0.029522,0.184322,-0.197078
prcp_snow_ratio_std,-0.262327,-0.204643,-0.342396,0.999205,1.000000,0.105450,0.009152,-0.070501,-0.050447,0.183433,-0.169122
airline_airport_ratio_mean,-0.956286,0.674575,0.464837,0.131809,0.105450,1.000000,0.976426,0.704092,0.699419,-0.496121,-0.948945
airline_airport_ratio_std,-0.871873,0.657935,0.476529,0.032392,0.009152,0.976426,1.000000,0.672844,0.666076,-0.442145,-0.876759
seat_dist_mean,-0.685850,0.809785,0.718551,-0.049444,-0.070501,0.704092,0.672844,1.000000,0.999635,-0.488676,-0.834097
seat_dist_std,-0.685527,0.802303,0.709559,-0.029522,-0.050447,0.699419,0.666076,0.999635,1.000000,-0.481691,-0.833463
seat_dist_norm_mean,0.521063,-0.471418,-0.382134,0.184322,0.183433,-0.496121,-0.442145,-0.488676,-0.481691,1.000000,0.547205
seat_dist_norm_std,0.973216,-0.733675,-0.526612,-0.197078,-0.169122,-0.948945,-0.876759,-0.834097,-0.833463,0.547205,1.000000

In [2]:
df = pd.read_csv('participants_dataset_DES.csv')
df.dtypes

AIRPLANE_ID                        int64
YEAR                             float64
MONTH                            float64
DAY_OF_WEEK                        int64
DEP_DEL15                          int64
DEP_TIME_BLK                      object
DISTANCE_GROUP                   float64
SEGMENT_NUMBER                   float64
CONCURRENT_FLIGHTS               float64
NUMBER_OF_SEATS                  float64
CARRIER_NAME                      object
AIRPORT_FLIGHTS_MONTH            float64
AIRLINE_FLIGHTS_MONTH            float64
AIRLINE_AIRPORT_FLIGHTS_MONTH    float64
AVG_MONTHLY_PASS_AIRPORT         float64
AVG_MONTHLY_PASS_AIRLINE         float64
FLT_ATTENDANTS_PER_PASS          float64
GROUND_SERV_PER_PASS             float64
PLANE_AGE                        float64
DEPARTING_AIRPORT                 object
LATITUDE                         float64
LONGITUDE                        float64
PREVIOUS_AIRPORT                  object
PRCP                             float64
SNOW                             float64
SNWD                             float64
TMAX                             float64
AWND                             float64
dtype: object

In [16]:
df.groupby(['DAY_OF_WEEK']).agg(min=('PRCP', 'min'), max=('PRCP', 'max'), count=('PRCP', 'count'), mean=('PRCP', 'mean'), median=('PRCP', 'median'), mode=('PRCP', lambda x: statistics.mode(x)))

             min   max  count      mean  median  mode
DAY_OF_WEEK
1            0.0  1.95  14672  0.133715     0.0   0.0
2            0.0  1.93  17886  0.126649     0.0   0.0
3            0.0  1.96  29766  0.129403     0.0   0.0
4            0.0  1.95  42391  0.129338     0.0   0.0
5            0.0  1.94  17417  0.130889     0.0   0.0
6            0.0  1.97  21464  0.131192     0.0   0.0
7            0.0  1.95  16404  0.133991     0.0   0.0

In [17]:
df.groupby(['DAY_OF_WEEK']).agg(min=('SNOW', 'min'), max=('SNOW', 'max'), count=('SNOW', 'count'), mean=('SNOW', 'mean'), median=('SNOW', 'median'), mode=('SNOW', lambda x: statistics.mode(x)))

             min  max  count      mean  median  mode
DAY_OF_WEEK
1            0.0  2.6  14587  0.066683     0.0   0.0
2            0.0  2.6  17818  0.057375     0.0   0.0
3            0.0  2.6  29774  0.054437     0.0   0.0
4            0.0  2.6  42550  0.035709     0.0   0.0
5            0.0  2.6  17189  0.061452     0.0   0.0
6            0.0  2.6  21481  0.050328     0.0   0.0
7            0.0  2.6  16601  0.058418     0.0   0.0

In [18]:
df.groupby(['DAY_OF_WEEK']).agg(min=('SNWD', 'min'), max=('SNWD', 'max'), count=('SNWD', 'count'), mean=('SNWD', 'mean'), median=('SNWD', 'median'), mode=('SNWD', lambda x: statistics.mode(x)))

             min  max  count      mean  median  mode
DAY_OF_WEEK
1            0.0  7.3  14703  0.444297     0.0   0.0
2            0.0  7.4  17903  0.404619     0.0   0.0
3            0.0  7.3  29777  0.378551     0.0   0.0
4            0.0  7.4  42431  0.259586     0.0   0.0
5            0.0  7.4  17254  0.447015     0.0   0.0
6            0.0  7.3  21445  0.342844     0.0   0.0
7            0.0  7.3  16487  0.397562     0.0   0.0

In [19]:
df.groupby(['DAY_OF_WEEK']).agg(min=('TMAX', 'min'), max=('TMAX', 'max'), count=('TMAX', 'count'), mean=('TMAX', 'mean'), median=('TMAX', 'median'), mode=('TMAX', lambda x: statistics.mode(x)))

             min   max  count       mean  median  mode
DAY_OF_WEEK
1            1.0  85.0  14609  48.791430    47.0  32.0
2            1.0  85.0  17851  49.884096    48.0  46.0
3            1.0  85.0  29635  50.346280    50.0  47.0
4            1.0  85.0  42551  53.239665    54.0  62.0
5            1.0  85.0  17360  49.234735    48.0  32.0
6            1.0  85.0  21435  52.312946    52.0  83.0
7            1.0  85.0  16559  50.413491    50.0  46.0

In [20]:
df.groupby(['DAY_OF_WEEK']).agg(min=('AWND', 'min'), max=('AWND', 'max'), count=('AWND', 'count'), mean=('AWND', 'mean'), median=('AWND', 'median'), mode=('AWND', lambda x: statistics.mode(x)))

              min    max  count      mean  median  mode
DAY_OF_WEEK
1            1.24  23.55  14588  8.867502    8.13  5.06
2            0.93  23.82  17964  8.724184    7.93  5.08
3            0.90  26.53  29740  8.714509    7.90  5.04
4            0.89  23.74  42412  8.114414    7.24  4.95
5            1.07  23.60  17381  8.827303    8.11  5.16
6            0.99  23.99  21414  8.558908    7.61  4.95
7            1.10  23.12  16501  8.709871    7.80  5.19

In [24]:
con_flights = df.groupby(['DEPARTING_AIRPORT', 'DEP_TIME_BLK'])['CONCURRENT_FLIGHTS'].median().reset_index()
con_flights[con_flights['DEP_TIME_BLK'] == '0001-0559']

                      DEPARTING_AIRPORT DEP_TIME_BLK  CONCURRENT_FLIGHTS
0     Albuquerque International Sunport    0001-0559                12.0
29                    Atlanta Municipal    0001-0559                27.0
48     Austin - Bergstrom International    0001-0559                23.0
67                   Birmingham Airport    0001-0559                38.0
86                   Boise Air Terminal    0001-0559                 4.0
...                                 ...          ...                 ...
1293                Tampa International    0001-0559                10.0
1327               Tucson International    0001-0559                20.0
1345                Tulsa International    0001-0559                 NaN
1361    Washington Dulles International    0001-0559                33.5
1380                  Will Rogers World    0001-0559                21.0

[68 rows x 3 columns]

In [26]:
len(df.DAY_OF_WEEK.unique())

7

In [27]:
len(df.DEP_TIME_BLK.unique())

19

In [28]:
len(df.DEPARTING_AIRPORT.unique())

80

In [14]:
def prepare_concurrent_flights_df(flight_df_clean):
    airports = df.DEPARTING_AIRPORT.unique()
    weekdays = [sorted(df.DAY_OF_WEEK.unique())]*len(airports)
    time_blk = [sorted(df.DEP_TIME_BLK.unique())] * len(airports)
    con_flights = pd.DataFrame({'DEPARTING_AIRPORT': airports, 'DAY_OF_WEEK': weekdays, 'DEP_TIME_BLK': time_blk}).explode(['DAY_OF_WEEK']).explode(['DEP_TIME_BLK'])
    con_dw_flights = df.groupby(['DEPARTING_AIRPORT', 'DAY_OF_WEEK', 'DEP_TIME_BLK'])['CONCURRENT_FLIGHTS'].median().reset_index()
    concurrent_df = pd.merge(con_flights, con_dw_flights, on=['DEPARTING_AIRPORT', 'DAY_OF_WEEK', 'DEP_TIME_BLK'], how='left')
    
    return concurrent_df.pivot_table(index=['DEPARTING_AIRPORT', 'DAY_OF_WEEK'], columns='DEP_TIME_BLK', values='CONCURRENT_FLIGHTS').fillna(0)